## Tratamento e Mesclagem dos Datraframes

### Criando os dataframes

In [1]:
# importando a biblioteca
import pandas as pd

In [2]:
# carregando os datasets
vendas_df = pd.read_csv('Contoso - Vendas  - 2017.csv', sep=';')
produtos_df = pd.read_csv('Contoso - Cadastro Produtos.csv', sep=';')
clientes_df = pd.read_csv('Contoso - Clientes.csv', sep=';')
lojas_df = pd.read_csv('Contoso - Lojas.csv', sep=';')

In [3]:
vendas_df.head()

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1
1,2,01/01/2017,06/01/2017,5,308,1586,2,18469,9,1
2,3,01/01/2017,01/01/2017,0,294,1444,5,19730,13,1
3,4,01/01/2017,01/01/2017,0,251,1468,5,29326,6,1
4,5,01/01/2017,07/01/2017,6,94,1106,2,22617,4,1

In [4]:
produtos_df.head()

,Nome do Produto,Descricao do Produto,Fabricante,Nome da Marca,Tipo,Custo Unitario,Preco Unitario,ID Produto,ID Subcategoria
0,Contoso Wireless Laser Mouse E50 Grey,Advanced 2.4 GHz cordless technology makes fre...,"Contoso, Ltd",Contoso,Econômico,"10,69","20,96",873,22
1,Contoso Optical Wheel OEM PS/2 Mouse E60 Grey,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,879,22
2,Contoso Optical Wheel OEM PS/2 Mouse E60 Black,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,880,22
3,Contoso Optical Wheel OEM PS/2 Mouse E60 White,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,881,22
4,Contoso Optical Wheel OEM PS/2 Mouse E60 Silver,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,882,22

In [ ]:
clientes_df.head()

In [ ]:
lojas_df.head()

### Excluindo colunas

In [ ]:
# excluindo colunas do dataset clientes
clientes_df = clientes_df.drop(['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'], axis=1)

In [ ]:
clientes_df.head()

### Filtrando colunas

In [ ]:
clientes_df = clientes_df[['ID Cliente', 'E-mail']]
produtos_df = produtos_df[['ID Produto', 'Nome do Produto']]
lojas_df = lojas_df[['ID Loja', 'Nome da Loja']]

In [ ]:
produtos_df.head()

### Juntando os dataframes para ter um único com as variáveis necessárias.

In [ ]:
# utilizando o método (merge) para unir as variáveis e forma um único dataframe
vendas_df = vendas_df.merge(produtos_df, on='ID Produto')
vendas_df = vendas_df.merge(clientes_df, on='ID Cliente')
vendas_df = vendas_df.merge(lojas_df, on='ID Loja')

In [ ]:
vendas_df.head()

In [ ]:
# renomeando o nome da coluna e-mail para e-mail do cliente utilizando um dicionário
vendas_df = vendas_df.rename(columns={'E-mail': 'E-mail do Cliente'})

In [ ]:
vendas_df.head()

In [ ]:
vendas_df.info()

### Iniciando as análises

#### Qual cliente realizou o maior número de compras?

In [ ]:
frequencia_clientes = vendas_df['E-mail do Cliente'].value_counts()

In [ ]:
frequencia_clientes.head()

In [ ]:
# plotando as informações em gráfico
frequencia_clientes[:5].plot(figsize=(15,5))

#### Qual loja mais vendeu?

In [ ]:
vendas_lojas = vendas_df.groupby('Nome da Loja').sum()

In [ ]:
# filtrando as colunas
vendas_lojas = vendas_lojas[['Quantidade Vendida']]

In [ ]:
vendas_lojas